@layout('layouts/main')

@section('content')
    <div class="flex justify-center mt-4">
        <div class="m-auto text-center">
            <h2>Sorry, this page isn't available</h2>
            <p>The link you following may be broken</p>
        </div>

    </div>

@endsection